.module{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page{
  border: 1px solid black;
  height: 80vh;
}

.signin-page{
  background-color: rgb(238, 224, 255);
}

.bg-image{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}